@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main_page {
    background: url("../assets/backgounds/background.png");
    background-size: cover;
}